[backends]
  [backends.drone]
    [backends.drone.servers]
      [backends.drone.servers.server0]
        url = "http://127.0.0.1:8081"
        weight = 1

[frontends]
  [frontends.drone]
    entryPoints = ["http", "https"]
    backend = "drone"
    passHostHeader = true
    [frontends.drone.routes]
      [frontends.drone.routes.route0]
        rule = "Host:drone.{{ domain }}"
