[backends]
  [backends.nomad]
    [backends.nomad.servers]
    {% for host in (groups['master'] | map('extract', hostvars, ['private_ip']) | list) %}
    [backends.nomad.servers.server{{ loop.index }}]
      url = "http://{{ host }}:4646"
      weight = 1
    {% endfor %}

[frontends]
  [frontends.nomad]
    entryPoints = ["http", "https"]
    backend = "nomad"
    passHostHeader = true
    [frontends.nomad.routes]
      [frontends.nomad.routes.route0]
        rule = "Host:nomad.{{ domain }}"
