{
  "datacenter": {{ nomad_datacenter | to_json }},
  "region": {{ nomad_region | to_json }},
  "data_dir": "/var/lib/nomad",
  "log_level": "INFO",
  "client": {
    "enabled": true
  },
  "consul": {
    "address": "127.0.0.1:8500",
    "server_service_name": "nomad",
    "client_service_name": "nomad-client",
    "auto_advertise": true,
    "server_auto_join": true,
    "client_auto_join": true
  },
  "bind_addr": {{ hostvars[inventory_hostname].private_ip | to_json }}
}
